/*
 * This is the Lexstar 6000 CSS file.  It does CSS-like things to the running
 * joke we have at Lexmark known as the Lexstar weather service.
 */

/**
 * No borders, no padding.  This will cover the entire screen.
 */
body
{
    margin:0px;
    border:0px;
    padding:0px;
    color:white;
    font-family:arial;
}

/**
 * The main map just splashes down behind everything.  It needs to be focused
 * somewhere near Lexington.  JS will take care of exact centering.
 * 
 * Note that Lexington, KY is at 2404px, 690px on the original map image.  We
 * ultimately want the display to be centered somewhat west of that so we can
 * see when storm systems are coming.  Of course, the window size will need to
 * be accounted for when working out this centering, hence the JS requirement.
 */ 
div#mainmap
{
    /* 
     * We know the exact size of the map image (actually, we sort of depend on
     * it staying this size).  The jQuery draggable property will be working on
     * this to move it around.
     */
    width:3400px;
    height:1600px;
/*    background-image:url("http://radar.weather.gov/Conus/Loop/NatLoop.gif"); */
    background-repeat:no-repeat;
    position:fixed;
    cursor:move;
}

/**
 * The conditions box just sort of sits there.  JS buttons will reposition it
 * if it seems to be in the way of something.
 */
div#forecast
{
    position:fixed;
    width:392px;
    background-color:rgba(0,0,255,0.85);
    left:16px;
    top:16px;
    right:auto;
    bottom:auto;
    border:0px;
    margin:0px;
    padding:4px;
    transition: opacity .5s linear;
    -moz-transition: opacity .5s linear;
    -webkit-transition: opacity .5s linear;
    -o-transition: opacity .5s linear;
}

div#topbar,
div#bottombar
{
    width:100%;
    clear:both;
}

div#mainarea
{
    border-top:2px solid white;
    border-bottom:2px solid white;
    padding:4px;
}

/*
 * The status area shows up if we're loading data (or if there's an error).  It
 * needs really big ol' text.  Big!  BIG!
 */
div#statusarea
{
    font-size:xx-large;
    text-align:center;
    font-weight:bold;
}

/*
 * The conditions should be hidden until we get data in.  Likewise, the status
 * will be hidden after we get data in.
 */
div#conditions
{
    display:none;
}

div#cityname
{
    text-align:left;
    font-size:large;
    font-weight:bold;
    vertical-align:middle;
    padding:4px;
}

div#timeaccessed
{
    text-align:right;
    font-size:small;
    font-style:italic;
    vertical-align:middle;
    padding:4px;
}

div#leftside
{
    display:inline-block;
    text-align:center;
    vertical-align:middle;
    padding:16px;
    max-width:112px;
}
div#rightside
{
    display:inline-block;
    text-align:left;
    vertical-align:middle;
    padding:16px;
    max-width:200px;
}

div#conditionimage
{
    display:inline-block;
    width:55px;
    height:58px;
    background-repeat:no-repeat;
}

div#conditiontext,
div#conditiontemperature,
div#conditionwindspeed,
div#conditionwindgust,
div#conditionpressure,
div#conditiondewpoint,
div#conditionhumidity
{
    font-weight:bold;
}

div#conditionwind,
div#conditionpressure,
div#conditiondewpoint
{
    padding-top:4px;
    padding-bottom:4px;
}

div#conditiontext
{
    font-size:larger;
}

div#conditionwindgust
{
    font-size:smaller;
    text-indent:16px;
}

div#optionbuttons
{
    text-align:right;
    border-top: 2px solid white;
}

.optionbutton
{
    background-color:rgb(0,0,176);
    display:inline-block;
    color:white;
    font-size:20px;
    font-weight:bold;
    text-align:center;
    vertical-align:middle;
    width:32px;
    height:32px;
    margin:4px 4px 0px 4px;
    border-width:1px;
}

button#celsiustoggle
{
    padding:4px;
}

button#centerbutton
{
    background-image:url("centermap.png");
{
